<div>
  <mat-form-field class="example-form-field">
    <mat-label>First campaign</mat-label>
    <mat-date-range-input
      [formGroup]="campaignOne"
      [rangePicker]="campaignOnePicker">

      <input matStartDate placeholder="Start date" formControlName="start">
      <input matEndDate placeholder="End date" formControlName="end">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
    <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
  </mat-form-field>



  <label id="example-radio-group-label">Priority</label>
  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    [(ngModel)]="favoriteSeason">
    <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
      {{season}}
    </mat-radio-button>
  </mat-radio-group>
  <div>Your favorite season is: {{favoriteSeason}}</div>
  <form [formGroup]="registerForm">
  <mat-form-field>
    <mat-label for="doctor"></mat-label>
    <mat-select formControlName="doctorId">
      <mat-option *ngFor="let doctor of doctors" [value]="doctor.id">
        Dr {{doctor.surname}} {{doctor.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  </form>

  <button mat-raised-button color="primary" (click)="search()">Search</button>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 center-table">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="Time">
      <th mat-header-cell *matHeaderCellDef> Start time</th>
      <td mat-cell *matCellDef="let element"> {{element.date.startTime}} - {{element.date.endTime}}</td>
    </ng-container>




    <!-- Name Column -->
    <ng-container matColumnDef="Doctor">
      <th mat-header-cell *matHeaderCellDef> Doctor </th>
      <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Schedule">
      <th mat-header-cell *matHeaderCellDef> Schedule </th>
      <td mat-cell *matCellDef="let element">     <button mat-raised-button color="primary" (click)="schedule(element)">Schedule</button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>


