<div class="container registerForm">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form>
          <div class="form-group">
            <label for="name"></label>
            <input type="text" class="form-control" placeholder="name">
          </div>
          <div class="form-group">
            <label for="surname"></label>
            <input type="text" class="form-control" placeholder="surname">
          </div>
          <div class="form-group">
            <label for="email"></label>
            <input type="email" class="form-control" placeholder="email">
          </div>
          <div class="form-group">
            <label for="password"></label>
            <input type="password" class="form-control" placeholder="password">
          </div>
          <div class="form-group">
            <label for="phoneNumber"></label>
            <input type="phoneNumber" class="form-control" placeholder="phoneNumber">
          </div>
          <div class="form-group">
            <mat-form-field>
              <mat-label for="doctor"></mat-label>
              <mat-select>
                <mat-option>Mileeeee</mat-option>
                <mat-option>Mileeeee</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-radio-group aria-label="Select one option">
              <mat-radio-button value="1">Male</mat-radio-button>
              <mat-radio-button value="2">Female</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="form-group">
            <button mat-button mat-raised-button color="accent">Register</button>
          </div>
      </form>
    </div>
  </div>
</div>
